{% extends "frontend/layout.html" %}


{% load humanize %}
{% block content%}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-top clearfix">
            <h4 class="pull-left">บทความหมวดหมู่ "{{category_name}}" <a href="#"><i class="fa fa-rss"></i></a></h4>
        </div><!-- end blog-top -->

        <div class="blog-list clearfix">
            <hr class="invis">
              {% for item in blogs%}
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="#" title="">
                            <img src="{{item.image.url}}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->
                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="{%url 'blogDetail' item.id%}" title="">{{item.name}}</a></h4>
                    <p>{{item.description}}</p>
                    <small class="firstsmall"><a class="bg-orange" href="{%url 'search' item.category_id%}" title="">{{item.category}}</a></small>
                    <small><a href="#" title="">{{item.created}}</a></small>
                    <small><a href="{% url 'searchwriter' item.writer%}" title="">by {{item.writer}}</a></small>
                    <small><a href="#" title=""><i class="fa fa-eye"></i> {{item.views | intcomma}}</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->
            {% endfor %}
        </div><!-- end blog-list -->
    </div><!-- end page-wrapper -->
    <hr class="invis">
</div><!-- end col -->
{% endblock %}